<div class="page-between"></div>
<div class="container-fluid">
    <div id="about-slide" class="page">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="lower">My Journey</h1>
                    <p>
                        After a detour to raise my family and a successful career in Human Resources, I am so excited to be returning to my roots as a programmer.  I recently relocated to Nashville, TN and it has been one of the best decisions of my life. Aside from the awesome people, wonderful restaurants and great music, I also discovered Nashville Software School.  NSS has provided me the foundation I needed to return to programming.  During the six month, full time program, I worked alone and colllaboratively on projects involving a pleathora of technolgies to prepare me for a career as a full stack developer.  Many of those technologies are listed below.  But I choose not to be limited.  I think life is a journey and I choose to make mine about continuing to learn, experience and share my knowledge to help others.  "You have two hands, one to help yourself the second to help others". -Unknown
                    </p>
                </div>
                <div class="col-md-6 low-pic">
                    <img src="../images/ssk.jpg" class="img-rounded img-responsive img-center">
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div id="techRow">
                  <div class="tech tech1"></div>
                  <div class="tech tech2"></div>
                  <div class="tech tech3"></div>
                  <div class="tech tech4"></div>
                  <div class="tech tech5"></div>
                  <div class="tech tech6"></div>
                  <div class="tech tech7"></div>
                  <div class="tech tech8"></div>
                  <div class="tech tech9"></div>
                  <div class="tech tech10"></div>
                  <div class="tech tech11"></div>
                </div>
              </div>
            </div>  <!-- end first row of tech -->
            <div class="row">
              <div class="col-md-12">
                <div id="techRow">
                  <div class="tech tech12"></div>
                  <div class="tech tech13"></div>
                  <div class="tech tech14"></div>
                  <div class="tech tech15"></div>
                  <div class="tech tech16"></div>
                  <div class="tech tech17"></div>
                  <div class="tech tech18"></div>
                  <div class="tech tech19"></div>
                  <div class="tech tech20"></div>
                </div>
              </div>
            </div>  <!-- end second row of tech -->
            </div>
        </div>
    </div>
</div>
<div class="page-between"></div>

