<div class="page-between"></div>
<div class="container-fluid">
    <div id="about-slide" class="page">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Me</h1>
                    <p>
                        After a detour to raise my family and a successful career in Human Resources, I am so excited to be returning to my roots as a programmer.  Nine months ago I relocated to Nashville, TN and it has been one of the best decisions of my life. Aside from the awesome people, wonderful restaurants and great music, I also discovered Nashville Software School.NSS has provided me the foundation I needed to return to programming.  During the six month, full time program, I worked alone and colllaboratively on projects involving a pleathora of technolgies to prepare me for a career as a full stack developer.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="https://aim-drupal-files.s3.amazonaws.com/s3fs-public/difficult%20people%202.jpg" class="img-rounded img-responsive img-center">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-between"></div>

