<header>
  <div class="container-fluid">
		<nav role="navigation" class="navbar navbar-fixed-top navbar-inverse navbar-inner">
				<div class="navbar-header">
						<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
						<!--
			<a href="#" class="navbar-brand"></a>
-->
				</div>
				<div id="navbarCollapse" class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
								<li><a href="#home-slide">Home</a></li>
								<li><a href="#about-slide">About</a></li>
								<li><a href="#portfolio-slide">Portfolio</a></li>
								<li><a href="#contact-slide">Contact</a></li>
						</ul>

				</div>
		</nav>
	</div>  <!--end container fluid  -->
</header>

