<div class="container-fluid">
    <div id="portfolio-slide" class="page">
      <div class="container">
        <div class="row low-nopad">
            <h1 class="text-center">PROJECTS</h1>
        </div>  <!-- end row -->

      <div class="row">
          <div class="col-md-6 text-center pull-left project-color">
                <h3>VOLUNTEER SIGN-UP</h3>
                <p>Utilizing UI Angular Calendar, Moment, AngularJS and Firebase, a sign-up calendar for volunteers to view opportunities and get info on events they have committed to.  Under special login credentials, coordinators can schedule volunteer opportunities and view who volunteered for specific events. Click on the login screen to sign-up!</p>
          </div>
<!--           <div class="col-md-4 text-center pull-center project-color">
                <h3>SOME OTHER PROJECT??</h3>
                <P>SOME OTHER PROJECTS????</p>
          </div>
 -->          <div class="col-md-6 text-center pull-right project-color">
                <h3>TISKET/TASKET</h3>
                <P>Utilizing the MEAN Stack, created a websites for Basket Weavers to order supplies, and get feedback from other weavers on shops.  The goal is to provide a creative sharing space for basket weavers to share inspiration, ideas and experiences.</p>
          </div>
      </div>  <!-- end row  -->
      <div class="row">
          <div class="col-md-6 text-center pull-left project-color">
                <a href="https://capstonesignup.firebaseapp.com/" target="_blank">
                <img src="../images/Cap1-rectangle.png" class="img-rounded img-responsive img-center img-size">
                </a>
          </div>
<!--           <div class="col-md-4 text-center pull-center project-color">
                <img src="../images/Cap1-rectangle.png" class="img-rounded img-responsive img-center img-size">
          </div>
 -->
          <div class="col-md-6 text-center pull-right project-color">
                <a href="https://tasketbasket.herokuapp.com/" target="_blank">
                <img src="../images/Tasket-Basket2.png" class="img-rounded img-responsive img-center img-size">
                </a>
          </div>
      </div>  <!-- end row  -->
    </div>
  </div>
</div>  <!-- end container fluid -->
