  <div class="container-fluid">
    <div id="home-slide" class="jumbotron page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <h1>Stephanie Krause</h1>
                  <h2>Full Stack Software Developer</h2>
                </div>
                <div class="col-md-6 pull-right">
                    <h1>Welcome</h1>
                    <p class="space">Please checkout my projects and contact me with comments, suggestions or invitations to coffee!!
                    </p>
                </div>
            </div>
        </div>
    </div>
 </div>
